.logo{
    color: rgb(234, 237, 239);
}
.seg1{
    background-color: rgb(5, 5, 29);
    height: 400px;
    
}
.box{
    background: rgb(5, 5, 29);
     display: flex;
     justify-content: space-between;
     width: 75%;
     margin: 0% auto;
}
.box ul li{
    display: inline;
    color: aliceblue;
    list-style: none;
    margin-right: 20px;
}
.box1{
    display: flex;
     width: 75%;
     margin: 5% auto;
    
}
.box2{
    background-color:rgb(5,5,29);
    width: 100%;
    margin: 0% auto;
}
.box2 h1{
    color: aliceblue;
}
.box2 p{
    color: aliceblue;
}
.box3{
    background-color: gray;
    height: 200px;
    width: 80%;
}
.box3 p{
    text-align: center;
    padding: 60px;
    color: aliceblue;
}
*{
    margin: 0%;
    padding: 0%;
}
.boxes{
    display: flex;
    justify-content: center;
    height: 300px;
}
.borderb{
    border-style: solid;
    border: 5px solid rgb(102, 176, 222);
    border-radius: 10px;
    width: 150px;
    margin-right: 20px;
    height: 150px;
}
.seg3{
    background-color: rgb(209, 206, 206);
    height: 300px;
}
.seg3 p{
    font-style: italic;
    font-size: 30px;
    padding: 5%;
    margin-left: 20%;
}
.seg3 h2{
    font-size: 25px;
    margin-left:  50%;
    margin-top: -45px;
}
.seg4{
    background-color: rgb(255, 255, 255);
    height: 200px;
}
.innerbox{
    background-color: rgb(78, 78, 225);
    width: 800px;
    height: 100px;
    margin-left: 25%;
    margin-top: 5%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}
.innerbox h2{
    color: rgb(255, 255, 255);
    
}
.innerbox p{
    color: rgb(255, 255, 255); 
}
.l button{
    margin-top: 70%;
    border: 1px solid white;   
    background-color: rgb(78, 78, 225);  
    color: aliceblue;
    width: 60px;
    height: 25px;
}
.seg5{
    background-color: rgb(6, 6, 33);
}
.seg5 h2{
    color: white;
    text-align: center;
    height: 80px;
}